{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="webshop-hero hero-image-sizing">
        {% include 'includes/mobile-nav.html' with render_dark_navbar=True %}
        <div class="shopping-cart">{% include 'includes/cart_nav.html' %}</div>
        <div class="hero-text">{% include 'includes/main-nav.html' %}</div>
    </div>
    <div id="line-3"></div>
    <div class="page-wrapper">
        <div class="page-title text-center">
            <span>CHECKOUT</span>
            <div id="line-2"></div>
        </div>
        {% if cart_items %}
            <div class="row p-5">
                {% for item in cart_items %}
                    <div class="w-75 d-flex text-light">
                        <div class="row">
                            <div class="col">
                                <img class="cart_print-image"
                                     src="../../{{ item.print.image.url }}"
                                     alt="{{ item.print.name }}">
                                <div class="col">x{{ item.quantity }}</div>
                                <p>Size: {{ item.size }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="d-flex w-50 float-right text-light">
                    <div>
                        <p>{{ product_count }} products</p>
                        <span>Delivery:</span>
                        <span>
                            {% if delivery > 0 %}
                                €{{ delivery|floatformat:2 }}
                            {% else %}
                                free
                            {% endif %}
                        </span>
                        <p>Total: €{{ total_sum|floatformat:2 }}</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                {% if is_authenticated %}
                    <button id="continue-checkout-shipping" class="btn btn-secondary">continue</button>
                {% else %}
                    <a href="{% url 'account_signup' %}">
                        <button class="btn btn-success"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Continue to checkout</button>
                    </a>
                    <p class="text-light">*You will be asked to sign in to proceed</p>
                {% endif %}
            </div>
            <hr class="bg-secondary border-2 border-top border-secondary">
            <div id="shipping-information-form" class="w-50 center mx-auto text-light">
                <form method="POST" action="{% url 'create_order' %}">
                    {% csrf_token %}
                    {{ shipping_information }}
                    <button class="btn btn-success" type="submit">Confirm order</button>
                </form>
            </div>
        {% else %}
            <p>Your cart is empty</p>
        {% endif %}
    </div>
    <script>
        $('#shipping-information-form').hide()
        $('#continue-checkout-shipping').on('click', () => {
            $('#shipping-information-form').show()
        })
    </script>
{% endblock content %}
