{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="webshop-hero hero-image-sizing">
        {% include 'includes/mobile-nav.html' with render_dark_navbar=True %}
        <div class="shopping-cart z-3">{% include 'includes/cart_nav.html' %}</div>
        <div class="hero-text">{% include 'includes/main-nav.html' %}</div>
    </div>
    <div id="line-3"></div>
    <div class="page-wrapper">
        <div class="page-title text-center">
            <span>CHECKOUT</span>
            <div id="line-2"></div>
        </div>
        {% if cart_items %}
            <div class="row p-5">
                {% for item in cart_items %}
                    <div class="w-75 d-flex text-light">
                        <div class="row align-items-end">
                            <div class="col">
                                {{ item.print.name }}
                                {{ item.size }}
                                <img class="cart_print-image"
                                     src="{% static 'media/'|add:item.print.image.name %}"
                                     alt="{{ item.print.name }}">
                            </div>
                            <div class="col">
                                <a href="{% url 'minus_print_from_cart' item.print.id item.size %}">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                            </div>
                            <div class="col">{{ item.quantity }}</div>
                            <div class="col">
                                <a href="{% url 'plus_print_to_cart' item.print.id item.size %}">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a href="{% url 'delete_from_cart' item.print.id item.size %}">
                                    <i class="fa-solid fa-trash-can" style="color: #ff0000;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="p-5 w-50 float-right text-light">
                <div class="ml-5">
                    <strong>Total:</strong>
                    <p>{{ product_count }} products</p>
                    <span>Delivery:</span>
                    <span>
                        {% if delivery > 0 %}
                            €{{ delivery|floatformat:2 }}
                        {% else %}
                            free
                        {% endif %}
                    </span>
                    <p>Total: €{{ total_sum|floatformat:2 }}</p>
                </div>
            </div>
            <div class="text-center">
                {% if is_authenticated %}
                    <button id="continue-checkout-shipping" class="btn btn-success">continue</button>
                {% else %}
                    <a href="{% url 'account_signup' %}">
                        <button class="btn btn-success"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Continue to checkout</button>
                    </a>
                    <p class="text-light">*You will be asked to sign in to proceed</p>
                {% endif %}
            </div>
            <hr class="bg-secondary border-2 border-top border-secondary">
            <div id="shipping-information-form" class="w-50 center mx-auto text-light">
                <form method="POST" action="{% url 'create_order' %}">
                    {% csrf_token %}
                    {{ shipping_information }}
                    <button class="btn btn-success" type="submit">Confirm order</button>
                </form>
            </div>
        </div>
    {% else %}
        <p class="text-light text-center">Your cart is empty</p>
    {% endif %}
</div>
<script>
        $('#shipping-information-form').hide()
        $('#continue-checkout-shipping').on('click', () => {
            $('#shipping-information-form').show()
        })
</script>
{% endblock content %}
