{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="webshop-hero hero-image-sizing">
        {% include 'includes/mobile-nav.html' with render_dark_navbar=True %}
        {% include 'includes/auth_nav.html' with render_dark=True %}
        <div class="shopping-cart z-3">{% include 'includes/cart_nav.html' %}</div>
        <div class="hero-text">{% include 'includes/main-nav.html' %}</div>
    </div>
    <div id="line-3"></div>
    <div class="page-wrapper">
        <div class="page-title text-center">
            <span>CHECKOUT</span>
            <div id="line-2"></div>
        </div>
        {% if cart_items %}
            <div class="row p-5">
                {% for item in cart_items %}
                    <div class="w-75 d-flex text-light">
                        <div class="row align-items-end">
                            <div class="col">
                                {{ item.print.name }}
                                {{ item.size }}
                                <img class="cart_print-image"
                                     src="{% static 'media/'|add:item.print.image.name %}"
                                     alt="{{ item.print.name }}">
                            </div>
                            <div class="col">
                                <a href="{% url 'minus_print_from_cart' item.print.id item.size %}">
                                    <i class="fa-solid fa-minus" style="color: #FBFBFB;"></i>
                                </a>
                            </div>
                            <div class="col">{{ item.quantity }}</div>
                            <div class="col">
                                <a href="{% url 'plus_print_to_cart' item.print.id item.size %}">
                                    <i class="fa-solid fa-plus" style="color: #FBFBFB;"></i>
                                </a>
                            </div>
                            <div class="col">
                                <a href="{% url 'delete_from_cart' item.print.id item.size %}">
                                    <i class="fa-solid fa-trash-can" style="color: #e0451f;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="p-5 w-50 float-right text-light">
                <div class="ml-5">
                    <p>Total:</p>
                    <p>{{ product_count }} products</p>
                    <span>Delivery:</span>
                    <span>
                        {% if delivery > 0 %}
                            €{{ delivery|floatformat:2 }}
                        {% else %}
                            free
                        {% endif %}
                    </span>
                    <p>
                        <strong>Grand total: €{{ total_sum|floatformat:2 }}</strong>
                    </p>
                </div>
            </div>
            <div class="text-center">
                {% if is_authenticated %}
                    <button id="continue-checkout-shipping" class="btn btn-success">continue</button>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="btn btn-success">Continue to checkout</a>
                    <p class="text-light">*You will be asked to sign in to proceed</p>
                {% endif %}
            </div>
            <hr class="bg-secondary border-2 border-top border-secondary">
            <div id="shipping-information-form" class="w-50 center mx-auto text-light">
                <form id="payment-form" method="post" action="{% url 'create_order' payment_intent_id %}">
                    {% csrf_token %}
                    {{ shipping_information }}
                    <!-- Code from CI boutique_ado -->
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-light px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors -->
                        
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    </fieldset>
                    <button id="submit-button" class="btn btn-success" type="submit">Complete order</button>
                </form>
            </div>
            <div id="loading-overlay"></div>
        {% else %}
            <p class="text-light text-center">Your cart is empty</p>
        {% endif %}
    </div>
    <script>
        $('#shipping-information-form').hide()
        $('#continue-checkout-shipping').on('click', () => {
            $('#shipping-information-form').show()
        })
    </script>
{% endblock content %}
<!-- Code from ci boutiqe_ado project -->
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock postloadjs %}
