{% extends 'base.html' %}
{% load static %}




{% block content %}

<div class="hero-image">
    <div class="hero-text">
        <h1>SCANDINAVIAN WILDLIFE</h1> 
        <h2><strong> Prints </strong> by photographer</h2>
        <h2>Joris Bomert</h2>
    </div>
    <div class="hero-nav">
        <div class="nav-contact">
            <button type="button" class="btn btn-dark">CONTACT</button>
        </div>
        <div class="nav-webshop">
        <button type="button" class="btn btn-dark">WEBSHOP</button>
        </div>
    </div>
</div>
<div class="three-reasons-wrapper">
    <div class="container text-center three-reasons">
        <div class="row">
            <div class="col">
                <span>High Quality</span> 
                <h3>Photos are printed on first-class paper from Canon, with Canons printer Pixma Pro-200</h3>
            </div>
            <div class="col">
                <span>Personalized service</span>
                <h3>Photos are printed on first-class paper from Canon, with Canons printer Pixma Pro-200</h3>
            </div>
            <div class="col">
                <span>Customer satisfaction</span>
                <h3>Photos are printed on first-class paper from Canon, with Canons printer Pixma Pro-200</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>"To be outside in nature is my meditation"</h2>
                <h5>Joris Bomert</h5>
            </div>
            <div class="col quote-img">
                <img src="../../media/jorisbomertphoto.jpg" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock %}