{% extends 'base.html' %}
{% load static %}




{% block content %}

<div class="hero-image">
    <div class="hero-text">
        <h1>SCANDINAVIAN WILDLIFE</h1> 
        <h2><strong> Prints </strong> by photographer</h2>
        <h2>Joris Bomert</h2>
    </div>
    <div class="hero-nav">
        <div class="nav-contact">
            <button type="button" class="btn btn-dark">CONTACT</button>
        </div>
        <div class="nav-webshop">
        <button type="button" class="btn btn-dark">WEBSHOP</button>
        </div>
    </div>
</div>

{% endblock %}