{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="delivery-hero hero-image-sizing">
        {% include 'includes/mobile-nav.html' %}
        <div class="hero-text">{% include 'includes/main-nav.html' %}</div>
    </div>
    <div id="line-3"></div>
    <div class="page-wrapper">
        <div class="page-title text-center">
            <span>DELIVERY INFO</span>
            <div id="line-2"></div>
        </div>
        <div class="page-text text-center">
            <p class="page-p">Shipping fee: Traceable €6.90.</p>
            <p class="page-p">Free shipping for orders above €50.</p>
            <p class="page-p">A confirmation email is sent to your inbox after a completed order.</p>
            <p class="page-p">Your order is sent within 3 workdays.</p>
            <p class="page-p">To place an order you need to sign up. If you already have an account, you can simply log in.</p>
            <p class="page-p">
                Buyers from Sweden can pay with Swish. Send me an email to place your order and I will reply as soon as I can.
            </p>
            <p class="page-p">
                Your privacy is important. Click <a href="#" class="text-light">here</a> for our terms
            </p>
        </div>
    </div>
{% endblock content %}
