{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="pricing-hero hero-image-sizing">
        {% include 'includes/mobile-nav.html' %}
        <div class="shopping-cart">{% include 'includes/cart_nav.html' %}</div>
        <div class="hero-text">{% include 'includes/main-nav.html' %}</div>
    </div>
    <div id="line-3"></div>
    <div class="page-wrapper">
        <div class="page-title text-center">
            <span>PRICING</span>
            <div id="line-2"></div>
        </div>
        <div class="page-text text-center">
            <p class="page-p">
                The prints are shipped without a frame. This is because frames are difficult to send, and buyers commonly wants to
                pick their own frames. Shipping fee not included for orders under 50€.
            </p>
            <h5>
                <strong>A4:</strong> 30€
            </h5>
            <h5>
                <strong>A3:</strong> 40€
            </h5>
            <h5>
                <strong>A3+:</strong> 50€
            </h5>
            <div class="swish-logo"></div>
        </div>
    </div>
{% endblock content %}
