{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="about-hero hero-image-sizing">
        {% include 'includes/mobile-nav.html' %}
        <div class="shopping-cart">{% include 'includes/cart_nav.html' %}</div>
        <div class="hero-text">{% include 'includes/main-nav.html' %}</div>
    </div>
    <div id="line-3"></div>
    <div class="page-wrapper">
        <div class="page-title text-center">
            <span>ABOUT</span>
            <div id="line-2"></div>
        </div>
        <div class="row">
            <div class="page-text text-center col-md-8 offset-md-2">
                <div class ="page-p">
                    I’m a passionate wildlife photographer who spends every free minute I have outside, looking for wild animals.
                </div>
                <div class ="page-p">
                    2020 I bought my first camera and started my hobby as photographer. In the beginning I mostly took pictures of landscapes while trying to learn the camera settings.
                </div>
                <div class ="page-p">
                    Close by where I used to live back then, there were groups of roe deer's out in the fields almost every evening. I wanted to photograph them, but with the lens I had
                    at the time I could never get close enough.
                    So, within my first months as a photographer, I bought a new lens with better zoom. When I took my first photos of wildlife, my interest in photography and nature grew, and it became my passion.
                </div>
                <div class ="page-p">
                    Since then, I have been on several photographic expeditions, including Finland for bears, and Norway for musk oxen and puffins.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
