@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Actor&family=Roboto&family=Source+Sans+Pro:wght@400;600&display=swap');


html {
    height: 100%;
    
} 
 
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero-image {
    background: url("../../media/wildlife.squirrel.index.jpeg") no-repeat center center;
    background-size: cover;
    height: 73em;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
    
}

h5{
    color: #aaaaaa;
    font-style: normal;
}

strong {
    color: #e2ee79;
    font-weight: bold;
}
.hero-text {
    font-family: 'Aboreto', cursive;
    margin-top: 40em;
    margin-left: 10%;
    font-size: 1rem;
    display: inline-block;
    color: #f7f6f6;

}

.hero-text > h2 {
    text-align: center;
    font-family: 'Actor', sans-serif;
}

.col span,
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #606060;
}

h3 {
    font-weight: normal;
    font-size: 25px;
    text-align: center;
}

.nav-contact {
    top: 77%;
    left: 11%;
    position: absolute;
    border-radius: 50% ;
    width: 160px;
    height: 55px;
}
.nav-webshop {
    top: 77%;
    left: 35%;
    position: absolute;
    border-radius: 50% ;
    width: 160px;
    height: 55px;
}
.btn-dark{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    color: #e2ee79;
}

.hero-nav {
    width: 100%;
}

.three-reasons-wrapper {
    background-color: #e2ee79;;
    height: auto;
}

.col {
    margin: 40px;
}

#line{
    height: 8px;
    background: black;
}

.carousel {
    width: 95%;
    margin: auto;
}

.carousel-wrapper {
    background-color:black ;
}
.carousel-item {
    max-height: 100vh;
}

/* Newsletter styling */

.btn-signup{
	border-radius: 6px;
    height: 54px;
    margin-left: 18px;
    font-size: 23px;
    color: #e2ee79;
    background-color: #606060;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

input[type=text] {
    
    padding: 12px 20px;
    margin: 9px 0;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    height:20%;
    border:1px solid #d6d6d6;
    background-color:#e2ee79 ;
}

::placeholder { 
    color: #c0c0c0;
    opacity: 1;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.newsletter-header {
    color: #444444;
}

/* Footer styles */

.nav-link {
    color: #7a7a7a;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin-bottom: 1rem;
}

.nav-link:hover {
    color: black;
}