@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Actor&family=Roboto&family=Source+Sans+Pro:wght@400;600&display=swap');


html {
    height: 100%;
    
} 
 
body {
    width: 100%;
    margin: 0;
    padding: 0;
}
/* Hero images */

.hero-image {
    background: url("https://res.cloudinary.com/darav9s8b/image/upload/v1683012371/wildlife.squirrel.index_pd93lp.jpg") no-repeat center center;
    background-size: cover;
    height: 67em;
}

.contact-hero {
    background: url("/static/media/hero_images/wildlife.eagle.hero.jpg")no-repeat center center;
}

.pricing-hero {
    background: url("/static/media/hero_images/wildlife.fox.hero.jpg")no-repeat center center;
}

.about-hero {
    background: url("/static/media/hero_images/wildlife.bear.hero.jpg")no-repeat center center;
}

.webshop-hero {
    background: url("/static/media/hero_images/wildlife.musk_ox.hero.jpg")no-repeat center center;
}

.delivery-hero {
    background: url("/static/media/hero_images/wildlife.bear.hero.jpg")no-repeat center center;
}

.error-img {
    background: url("/static/media/hero_images/wildlife.bear.hero.jpg") no-repeat;
    background-size: cover;
}

.swish-logo {
    background: url("/static/media/hero_images/Swish Logo Primary Dark-BG.png") no-repeat;
    background-size: contain;
    height: 4em;
    
}

.form__field {
    
    width: 4%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    background: transparent;

}
  
.hero-image-sizing {
    background-size: cover;
    height: 46em;
}

.print-image {
    height: 80vh;
}

.quote-img img{
    width: 35vw;
}

.cart_print-image {
    width: 15em;        
}

.quote-p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #606060;
    margin-top: 2vh;
    font-size: 1.1em;
}

.quote-p a {
    text-decoration: none;
    color: #444444;
}

.shopping-cart {
    position: absolute;
    right: 5em;
}

.cart-toggle-btn {
    background-color: unset;
    border: none;
}

.offcanvas {
    background-color: #424242;
}

.row>* {
margin-bottom: 20px;
}

.card {
    background:#7a7a7a;
}

.border-5 {
    border-width: 20px!important;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h5{
    color: #aaaaaa;
    font-style: normal;
}

#print-text {
    color: #e2ee79;
    font-weight: bold;
}
.hero-text {
    font-family: 'Aboreto', cursive;
    margin-top: 38em;
    margin-left: 4em;
    font-size: 1rem;
    display: inline-block;
    color: #f7f6f6;
}

.hero-text > h2 {
    text-align: center;
    font-family: 'Actor', sans-serif;
}

.col-sm span {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: #606060;
}

h3 {
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #606060;
    
}

.btn-dark{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    height: 100%;
    min-width: 10em;
    border-radius: 24px;
    color: #e2ee79;
    background-color:#212529;
    text-decoration: none;
}

.mobile-nav {
    visibility: hidden;
}

.hero-nav {
    position: relative;
    width: 50em;
    display: flex;
    justify-content: space-evenly;
}

.three-reasons-wrapper {
    background-color: #e2ee79;;
    height: auto;
}

.col- {
    margin: 40px;
}

/* #line{
    height: 8px;
    background: black;
} */

#line-2{
    width: 3em;
    height: 2px;
    margin: 0 auto;
    background: #aaaaaa;
}

#line-3 {
    height: 3px;
    background: #e2ee79;
}

.carousel {
    width: 95%;
    margin: auto;
}

.carousel-wrapper {
    background-color:black ;
    padding-bottom: 8px;
    padding-top: 8px;
}
.carousel-item {
    max-height: 100vh;
}

/* Newsletter styling */

.btn-signup{
	border-radius: 6px;
    height: 54px;
    margin-left: 18px;
    font-size: 23px;
    color: #e2ee79;
    background-color: #606060;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

input[type=text] {
    
    padding: 12px 20px;
    margin: 9px 0;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    height:20%;
    border:1px solid #d6d6d6;
    background-color:#e2ee79 ;
}

::placeholder { 
    color: #c0c0c0;
    opacity: 1;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.newsletter-header {
    color: #444444;
}

/* Footer styles */

.footer-wrapper {
    background-color: #f7f6f6;
}

.bottom-nav a {
    color: #7a7a7a;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin-bottom: 1rem;
}

.nav-link:hover {
    color: black;
}

/* General page styling */

.page-title {
    font-family: 'Aboreto', cursive;
    color: #7a7a7a;
    font-size: 3rem;
}

.page-wrapper {
    background: #444444;
    padding: 1em;
}

.page-text {
    margin-top: 40px;
}

.page-p {
    color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 8px 0;
}

.page-text h1, h5 {
    color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.webshop-link {
    text-decoration: none;
    color: #f7f6f6;
    margin-left: 4em;
    font-size: 1.2em;
}

.webshop-gallery {
    margin-top: 4em;
}
.form-check {
    display: inline-flex;
    color: #f7f6f6;
}

/* Media Queries */

/* Mobile and small screen devices up to 992px wide */
@media screen and (max-width: 993px) {
    .hero-image{
        height: 30em;
    }

    .hero-image-sizing {
        height: 20em;
    }

    .shopping-cart {
        top: 1.5em;
        right: 1.4em
    }

    .quote-p {
        
        font-size: 0.9em;
    }

    .border-5 {
        border-width: 0!important;
    }
    .webshop-gallery {
        margin-top: 1em;
        border: none;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .hero-text {
        margin-top: 16em;
        margin-left: 1em;
        width: 60%;
    }

    h2 {
        font-size: x-large;
    }
    .hero-nav {
        visibility: hidden;
    }

    h3 {
        font-size: 1rem;
    }

    .page-title {
        font-size: 2rem;
    }
    
    .print-image {
        width: 100vw;
        height: auto;
    } 

    .print-title {
        padding: 10px;
    }

    .col- span {
        font-size: 1.3rem;
    }

    .col- {
        margin: 11px 0;
    }

    .bg-body-tertiary {
        --bs-bg-opacity: none;
    }

    .mobile-nav {
        visibility: visible;
    }

    .navbar-nav a {
        color: white;
    }

    .nav-dark-color {
        color: rgb(121, 119, 119)!important;
    }
    .navbar-collapse {
        top: 3rem;
        position: absolute;
    }

    .quote-img img{
        width: 75vw;
    }

    .carousel-caption {
        right: 0;
        left: 0;
    }
}

@media screen and (max-width: 560px) {
.nav-dark-color {
    color: rgb(196, 193, 193)!important;
}
}