<button class="cart-toggle-btn"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight">
    <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #e2ee79;"></i>
</button>
<div class="offcanvas offcanvas-end"
     tabindex="-1"
     id="offcanvasRight"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-light" id="offcanvasRightLabel">Your shopping cart</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body text-light">
        <ol>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ol>
        <p class="my-0">
            {% if total_sum %}${{ total_sum|floatformat:2 }}{% endif %}
        </p>
        <a href="">
            <button class="btn btn-success" type="button">
                Continue to secure checkout
                <i class="fa-solid fa-lock" style="color: #c88b09;"></i>
                <p class="my-0">
                    {% if total_sum %}${{ total_sum|floatformat:2 }}{% endif %}
                </p>
            </button>
        </a>
    </div>
</div>
{% comment %} <li class="list-inline-item">
    <a href="{% url 'view_cart' %}">
        <div class="text-center">
            <div class="shopping-cart">
                <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #e2ee79;"></i>
            </div>
            <p class="my-0">{% if total_sum %}${{ total_sum|floatformat:2 }}{% endif %}</p>
        </div>
    </a>
</li> {% endcomment %}
