{% load static %}
{% comment %} Adds shopping cart modal to site {% endcomment %}
{% comment %} Code snippet from bootstrap {% endcomment %}
{% if cart_items %}
    <div>
        <button class="cart-toggle-btn"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
            <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #212529;"></i>
        </button>
        <div class="offcanvas offcanvas-end"
             tabindex="-1"
             id="offcanvasRight"
             aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-light" id="offcanvasRightLabel">Your shopping cart</h5>
                <button type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body text-light">
                <div class="table-responsive">
                    <table style="table-layout:fixed;" class="table table-sm table-borderless">
                        {% for item in cart_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img class="cart_print-image"
                                         src="{% static 'media/'|add:item.print.image.name %}"
                                         alt="{{ item.print.name }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="my-0 text-light">{{ item.print.name }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="my-0 text-light">Size:</span>
                                    <span class="my-0 text-light">{{ item.size }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td> 
                                    <a href="{% url 'minus_print_from_cart' item.print.id item.size %}">
                                        <i class="fa-solid fa-minus" style="color: #FBFBFB;"></i>
                                    </a>
                                </td>
                                <td>
                                    <span class="my-0 text-light">{{ item.quantity }}</span>
                                </td>
                                <td>
                                    <a class="plus_print_to_cart_button" href="#" onclick="plusPrint('{{ item.quantity }}', '{{ item.print.id }}', '{{ item.size }}')" >
                                        <i class="fa-solid fa-plus" style="color: #FBFBFB;" value="{% url 'plus_print_to_cart' item.print.id item.size %}"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'delete_from_cart' item.print.id item.size %}">
                                        <i class="fa-solid fa-trash-can" style="color: #e0451f;"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p id="max_quantity_message-{{ item.print.id }}-{{ item.size }}" class="text-danger max_quantity">You can only add 10 of the same print</p>
                                </td>
                            </tr>
                        {% endfor %}

                        

                        <td colspan="5" class="pt-5 text-right text-light">
                            <h6 text-light>Cart total:</h6>
                            <span>Delivery:</span>
                        <span>
                            {% if delivery > 0 %}
                                €{{ delivery|floatformat:2 }}
                            {% endif %}
                        </span>
                            {% if free_delivery_calculator > 0 %}
                                <p class="mb-1 text-danger">€{{ free_delivery_calculator }} until free shipping</p>
                            {% else %}
                                <p class="mb-1 text-success">Shipping: €0</p>
                            {% endif %}
                            €{{ total_sum|floatformat:2 }}
                        </td>
                    </table>
                </div>
                    <a href="{% url 'checkout' %}" class="btn btn-success text-light text-decoration-none">
                        Continue to secure checkout
                        <i class="fa-solid fa-lock" style="color: #c88b09;"></i>
                        <span class="my-0">
                            {% if total_sum %}${{ total_sum|floatformat:2 }}{% endif %}
                        </span>
                    </a>
            </div>
        </div>
    </div>
{% endif %}
<script>
    
    $(document).click(function(e) {
        const plusButtonPressed = ($(e.target).attr('value'))?.includes("plus");
        if (!plusButtonPressed) {
            const maxQuantityWarning = $(".max_quantity");
            maxQuantityWarning.hide();
        }
    });

    const plusPrint = (amount, printId, size) => {
        if (+amount > 9) {
            const maxQuantityMessageForPrint = $(`#max_quantity_message-${printId}-${size}`);
            $(`#max_quantity_message-${printId}-${size} .max_quantity`).show();
        } else {
            const url = $(this.event.target).attr('value');
            document.location.href = url;
        }
        return false; 
    }
</script>