<nav class="navbar navbar-expand-lg bg-body-tertiary mobile-nav">
  <div class="container-fluid">
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'webshop' %}">Webshop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pricing' %}">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'delivery' %}">Delivery Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">Log Out</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<script>
  const navLinks = document.getElementsByClassName("nav-link")
    if ( "{{render_dark_navbar}}"  ) {
        for (link of navLinks) {
            link.classList.add("nav-dark-color")
            
        }
    }
</script>
