{% extends "base.html" %}
{% block content %}
    {% load i18n %}
    <div class="about-hero hero-image-sizing">
        {% include 'includes/mobile-nav.html' %}
        {% include 'includes/auth_nav.html' %}
        <div class="shopping-cart z-3">{% include 'includes/cart_nav.html' %}</div>
        <div class="hero-text">{% include 'includes/main-nav.html' %}</div>
    </div>
    <div id="line-3"></div>
    {% load account %}
    {% block inner_content %}
        <div class="page-wrapper text-light text-center">
            <hr>
            <h2 class="logo-font mb-4">{% trans "Password Reset" %}</h2>
            <hr>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>
                {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
            </p>
        </div>
    {% endblock %}
{% endblock content %}
