{% extends "base.html" %}
{% block content %}
    {% load i18n %}
    <div class="about-hero hero-image-sizing">
        {% include 'includes/mobile-nav.html' %}
        {% include 'includes/auth_nav.html' %}
        <div class="shopping-cart z-3">{% include 'includes/cart_nav.html' %}</div>
        <div class="hero-text">{% include 'includes/main-nav.html' %}</div>
    </div>
    <div id="line-3"></div>
    {% load account %}
    {% block inner_content %}
        <div class="page-wrapper text-light text-center">
            <hr>
            <h2 class="logo-font mb-4">{% trans "Password Reset" %}</h2>
            <hr>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>
            <form method="POST"
                  action="{% url 'account_reset_password' %}"
                  class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <a class="btn btn-outline-black rounded-0 text-light"
                   href="{% url 'account_login' %}">Back to Login</a>
                <input type="submit"
                       class="btn btn-danger"
                       value="{% trans 'Reset My Password' %}" />
            </form>
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    {% endblock %}
{% endblock content %}
