{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="contact-hero hero-image-sizing">
    {% include 'includes/mobile-nav.html' %}
    {% include 'includes/auth_nav.html' with render_dark=True %}
    <div class="shopping-cart z-3">{% include 'includes/cart_nav.html' %}</div>
    <div class="hero-text">{% include 'includes/main-nav.html' %}</div>
  </div>
  <div id="line-3"></div>
  <div class="page-wrapper">
    <div class="page-title text-center">
      <span>CONTACT</span>
      <div id="line-2"></div>
    </div>
    <div class="page-text text-center">
      <h5>
        <strong>Name:</strong> Joris Bomert
      </h5>
      <br>
      <h5>
        <strong>Email:</strong> jbwildlifephotos@gmail.com
      </h5>
      <br>
      <h5>
        <strong>Location:</strong> Knutby, Sweden
      </h5>
      <br>
      <p class ="page-p">
        To reduce spam, a phone number is not shared on this site. Please send an email and I will get back to you.
      </p>
      
    </div>
    <div class="swish-logo"></div>
  </div>
{% endblock %}
