{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="webshop-hero hero-image-sizing">
    {% include 'includes/mobile-nav.html' with render_dark_navbar=True %}
    <div class="shopping-cart">{% include 'includes/cart_nav.html' %}</div>
    <div class="hero-text">{% include 'includes/main-nav.html' %}</div>
  </div>
  <div id="line-3"></div>
  <div class="page-wrapper">
    <div class="page-title text-center">
      <span>WEBSHOP</span>
      <div id="line-2"></div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">Filter</button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="{% url 'webshop' %}">All</a>
        </li>
        {% for category in categories %}
          <li>
            <a class="dropdown-item"
               href="{% url 'webshop' %}?category={{ category.id }}">{{ category.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="webshop-gallery col-10 offset-1">
          <div class="row mt-1 mb-2"></div>
          <div class="row">
            {% for print in prints %}
              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <a href="{% url 'product_detail' print.id %}"
                   class="text-decoration-none">
                  <div class="card border-5 border-dark">
                    <img src="{{ print.image.url }}" alt="{{ print.name }}">
                    <h5 class="print-title text-center">{{ print.name }}</h5>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}
